// background
.bgRed{
    background-color: #f61f1f;
}
.bgBlack{
    background-color: #4a4a4b;
}
.bgWhite{
    background-color: white;
}
.bgGrey{
    background-color: #f0f0f2;
}
.bgBlueSky{
    background-color: #2577fd;
}
.bgBlueDark{
    background-color: #191d34;
}

// font

.fontRed{
    color: #f61f1f;
}
.fontGrey{
    color: #4a4a4b;
}
.fontWhite{
    color: white;
}
.fontBlueDark{
    color:rgba(3, 6, 46, 0.913)
}