@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

nav{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: bold;
}

.select{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 72px;
    font-weight: bold;
    color:rgba(3, 6, 46, 0.913);
    line-height: 85px;
}

.loremS1{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}

.shopNow{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 12px;
}

.newArrivals{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 40px;
    color:rgba(3, 6, 46, 0.913);

}

.nomArticleS2{
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
    color:rgba(3, 6, 46, 0.79);
    font-size: 20px;
}

.prixS2{
    color: #f61f1f;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    font-size: 15px;
}

// responsive 
    // tablette
@media screen and (min-width: 768px) and (max-width: 1023px){
    .select{
        font-size: 60px;
    }
}
    // mobile L
@media screen and (min-width: 425px) and (max-width: 727px){
    .select {
        font-size: 30px;   
        line-height: 55px;
    }
    .loremS1{
        line-height: 30px;
    }
}
    // mobile M
@media screen and (min-width: 374px) and (max-width: 424px){
    .select {
        font-size: 30px;   
        line-height: 55px;
    }
    .loremS1{
        line-height: 30px;
    }
}