@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

nav{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: bold;
}

.select{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 72px;
    font-weight: bold;
    color:rgba(3, 6, 46, 0.913);
    line-height: 85px;
}

.loremS1{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}
.loremS4{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #4a4a4bb1;
    line-height: 25px;
}
.loremS6{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #656565b1;
    line-height: 25px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.shopNow{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 12px;
}

.newArrivals{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 40px;
    color:rgba(3, 6, 46, 0.913);

}

.nomArticleS2{
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
    color:rgba(3, 6, 46, 0.79);
    font-size: 20px;
}

.prixS2{
    color: #f61f1f;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    font-size: 15px;
}

.prixS4{
    color:rgba(3, 6, 46, 0.79);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    font-size: 15px;
}

.viewS4{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: white;
}

.titreShipping{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-top: 14px;
    margin-bottom: 14px;

}
.txtS7{
    color: rgb(231, 226, 226);
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 25px;
}

.txtFooter{
    padding-top: 50px;
    color: rgba(142, 139, 139, 0.797);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 25px;
}

.titreFooter{
    color: #818183;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 50px;
    font-weight: 500;
}

.lienFooter{
    color: rgb(129, 128, 128);
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 13px;
    line-height: 35px;
    transition: 0.3s;
}

.lienFooter:hover{
    color: #f61f1f;
    padding-left: 10px;
}

.promo{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin-bottom: 15px;
}
.seam{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 40px;
}

.foam{
    color: rgba(0, 0, 0, 0.856);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 35px;
    font-weight: 400;
    margin-bottom: 15px;
}
.s4P2Text{
    color: rgb(112, 111, 111);
    line-height: 25px;
    margin-top: 30px;
    margin-bottom: 27px;
    text-align: center;
}
.txtOperateur{
    color: #828bb2;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
#moins{
    font-size: 50px;
    font-weight: 280;
    padding-bottom: 8px;
}
#plus{
    font-size: 24px;
    font-weight: 300;
    padding-bottom: 5px;
}

#btnS3P2{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}

// responsive 
    // tablette
@media screen and (min-width: 768px) and (max-width: 1023px){
    .select{
        font-size: 60px;
    }
}
    // mobile L
@media screen and (min-width: 425px) and (max-width: 727px){
    .select {
        font-size: 30px;   
        line-height: 55px;
    }
    .loremS1{
        line-height: 30px;
    }
}
    // mobile M
@media screen and (min-width: 374px) and (max-width: 424px){
    .select {
        font-size: 30px;   
        line-height: 55px;
    }
    .loremS1{
        line-height: 30px;
    }
}