*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex{
    display: flex;
}
.justify{
    justify-content: center;
}
.align{
    align-items: center;

}

p{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height:80px;
    box-sizing: border-box;
}
nav{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 70px;
    padding-right: 20px;
}
.leftPartNav{
    height: 100%;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.midPartNav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    cursor: pointer;
    height: 100%;
}
.rightPartNav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    cursor: pointer;
    height: 100%;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: black;
}

.linkNav:hover{
    color: #f61f1f
}

.resizeImg1{
    height: 12px;
    width: auto;
}
.resizeImg2{
    height: 12px;
    width: auto;
}
.resizeImg3{
    height: 14px;
    width: auto;
}

.rightNavBtn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.icon {
    position: absolute;
    top: -5px;
    left: 0;
}

#iconBlack {
    display: block;
}

#iconRed {
    display: none;
}

#iconWhite {
    display: none;
}

.rightNavBtn:hover #iconBlack {
    display: none;
}

.rightNavBtn:hover #iconRed {
    display: block;
}

.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 7px 5px;
    border-color: transparent transparent #f61f1f transparent;
    position: absolute;
    right: 49%;
    top: 69px;
}

.dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    width: 140px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 22px;
    gap: 10px;
    border-top: 2px solid #f61f1f;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    padding-bottom: 22px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    display: flex;
    flex-direction: column;
    right: 40.7%;
    top: 75px;
}

.containerDdLatest{
    display: none;
}
.midNavBtn{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.midNavBtnHome{
    position: absolute;
    width: 73px;
    height: 80px;
}

.midNavBtnShop{
    position: absolute;
    width: 60px;
    height: 80px;
}

.midNavBtnAbout{
    position: absolute;
    width: 70px;
    height: 80px;
}

.midNavBtnLatest{
    position: absolute;
    width: 73px;
    height: 80px;
}

.midNavBtnBlog{
    position: absolute;
    width: 60px;
    height: 80px;
}

.midNavBtnPages{
    position: absolute;
    width: 70px;
    height: 80px;
}


.midNavBtnContact{
    position: absolute;
    width: 80px;
    height: 80px;
}

.triangleBlog {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 7px 5px;
    border-color: transparent transparent #f61f1f transparent;
    position: absolute;
    right: 43.2%;
    top: 69px;
}

.dropdown-contentBlog {
    position: absolute;
    background-color: #f9f9f9;
    width: 140px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 22px;
    gap: 10px;
    border-top: 2px solid #f61f1f;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    padding-bottom: 22px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    display: flex;
    flex-direction: column;
    right: 35%;
    top: 75px;
}

.containerDdBlog{
    display: none;
}

.trianglePages {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 7px 5px;
    border-color: transparent transparent #f61f1f transparent;
    position: absolute;
    right: 38.4%;
    top: 69px;
}

.dropdown-contentPages {
    position: absolute;
    background-color: #f9f9f9;
    width: 140px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 22px;
    gap: 10px;
    border-top: 2px solid #f61f1f;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    padding-bottom: 22px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    display: flex;
    flex-direction: column;
    right: 30.3%;
    top: 75px;
}

.containerDdPages{
    display: none;
}


/* dark mode white mode */
.btn-mode{
    height: 40px;
    width: 100px;
    box-sizing: border-box;
}

.barre{
    border: 1px solid black;
    height: 13px;
    width: 25px;
    box-sizing: border-box;
    justify-content: right;
    border-radius: 7px;
    background-color: #f61f1f;
    box-shadow: inset 2px 2.5px 1px #a02424ca;
}

.boule{
    border: 1px solid black;
    height: 17px;
    width: 17px;
    border-radius: 50px;
    background-color: #f0cdbd;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    right: -1px;
    box-shadow: 1px 0.5px 2px black;
}



