.section6{
    width: 100%;
    height: 1400px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerS6{
    width: 75%;
    height: 76%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.row1S6{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.row2S6{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.row1S6Left{
    height: 100%;
    width: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.row1S6Right{
    height: 100%;
    width: 50%;
    box-sizing: border-box;
    background-image: url("../../public/img/choce_watch1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.row2S6Left{
    height: 100%;
    width: 50%;
    box-sizing: border-box;
    background-image: url("../../public/img/choce_watch2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

.row2S6Right{
    height: 100%;
    width: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 85px;
}

.showWatches{
    background-color: #f61f1f;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 12px;
    width: 160px;
    height: 50px;
    border: none;
    border-radius: none;
    cursor: pointer;
}