.section1{
    width: 100%;
    height: 780px;
    box-sizing: border-box;
    display: flex;
}

.s1PartLeft{
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerTxtS1{
    width: 80%;
    height: 40%;
    margin-left: 140PX;
}
.containerLoremS1{
    display: flex;
    align-items: center;
    height: 85px;
    width: 80%;
    line-height: 20px;
}

.s1PartRight{
    height: 100%;
    width: 30%;
    display: flex;
    justify-self: center;
    align-items: center;
    background-image: url("../../public/img/watch.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.containerShopNow{
    width: 100%;
    height: 18%;
    display: flex;
    align-items: flex-end;
    padding-top: 70px;
}

.shopNow{
    border: none;
    height: 40px;
    width: 115px;
    padding-top: 3.5px;
    display: block;
    cursor: pointer;
    background: linear-gradient(to right, #f61f1f 50%, rgb(52, 51, 51) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
}
.shopNow:hover {
    background-position: left bottom;
}

.txtShopNow {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: white;
    transition: all .6s ease-out;
    display: block;
}

.txtShopNow:hover {
    color: white;
}


// responsive
    // tablette
@media screen and (min-width: 768px) and (max-width: 1023px){
    .section1{
        height: 650px;
    }
    .containerTxtS1{
        margin-left: 25px;
        margin-bottom: 120px;
    }
    .s1PartLeft{
        width: 60%;
    }
    .s1PartRight{
        width: 40%;
        background-position: left;
    }
}

    // mobile L
    @media screen and (min-width: 425px) and (max-width: 767px){
        .section1{
            height: 480px;
            overflow: hidden;
        }
        .containerTxtS1{
            margin-left: 0px;
            padding: 0;
            margin-bottom: 120px;
        }
        .s1PartLeft{
            width: 80%;
            
        }
        .s1PartRight{
            position: absolute;
            top: 80px;
            right: -110px;
            width: 100%;
            height: 85.5%;
            background-size: 50%;
            overflow: hidden;
        }
        .containerLoremS1{
            height: 200px;
        }
    }
    // mobile M
@media screen and (min-width: 374px) and (max-width: 424px){
    .section1{
        height: 480px;
        overflow: hidden;
    }
    .containerTxtS1{
        margin-left: 0px;
        padding: 0;
        margin-bottom: 120px;
    }
    .s1PartLeft{
        width: 80%;
        
    }
    .s1PartRight{
        position: absolute;
        top: 80px;
        right: -110px;
        width: 100%;
        height: 85.5%;
        background-size: 50%;
        overflow: hidden;
        display: none;
    }
    .containerLoremS1{
        height: 200px;
    }
}