.section3{
    width: 100%;
    height: 575px;
    display: flex;
    gap: 23px;
    box-sizing: border-box;
}

.s3LeftPart{
    height: 100%;
    width: 50%;
    box-sizing: border-box;
    background-image: url("../../public/img/gallery1.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 135%;
    transition:ease-in-out 0.5s;
}
.s3LeftPart:hover{
    background-size: 130%;
    filter: brightness(80%);
}

.s3RightPart{
    height: 100%;
    width: 50%;
    display: flex;
    gap: 23px;
    box-sizing: border-box;
}
.s3RightPartA{
    height: 100%;
    width: 50%;
    box-sizing: border-box;
    background-image: url("../../public/img/gallery2.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 140%;
    transition:ease-in-out 0.5s;
}
.s3RightPartA:hover{
    background-size: 130%;
    filter: brightness(80%);
}
.s3RightPartB{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 23px;
    box-sizing: border-box;
}
.s3RightPartBup{
    height: 50%;
    width: 100%;
    box-sizing: border-box;
    background-image: url("../../public/img/gallery3.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 140%;
    transition:ease-in-out 0.5s;
}
.s3RightPartBup:hover{
    background-size: 130%;
    filter: brightness(80%);
}
.s3RightPartBDown{
    height: 50%;
    width: 100%;
    box-sizing: border-box;
    background-image: url("../../public/img/gallery4.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 140%;
    transition:ease-in-out 0.5s;
}

.s3RightPartBDown:hover{
    filter: brightness(80%);
    background-size: 130%;
}
