.section4Page2 {
    box-sizing: border-box;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.containerInputS4P2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 50px;
    height: 50px;
    width: 460px;
    position: relative;
}

.inputS4P2 {
    height: 100%;
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    display: flex;
    position: absolute;
    left: 0;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 0;
}


.btnInputS4P2 {
    cursor: pointer;
    border: none;
    position: absolute;
    display: flex;
    right: 0;
    z-index: 1;
    height: 90%;
    margin-right: 3px;
    width: 110px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    color: white;
}

.btnInputS4P2:hover {
    background-color: white;
    color: #f61f1f;
    border: 1px solid #2577fd;
}

.form-group label {
    color: white;
}

.input-text-white {
    color: white;
}