.section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 920px;
    width: 100%;
}
.containerS2{
    width:75.5%;
    height: 69%;
    box-sizing: border-box;
}

.containerArrivals{
    box-sizing: border-box;
    width: 100%;
    height: 7%;
}
.divContientImg{
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    height: 62%;
}

.container3img{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    gap : 24px;
    overflow: hidden;
}

.containerImgPrix{
    height: 100%;
    width: 33.3%;
    box-sizing: border-box;
}

.videS2{
    height: 9%;
    width: 100%;
}

.cadreImgS2{
    height: 69%;
    width: 100%;
    box-sizing: border-box;
    background-position: center;
    background-size: cover;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}
.cadreImgS2:hover{
    transform: scale(1.05);
}

.product1{
    background-image: url("../../public/img/new_product1.png");
    // background-size: cover;
    width: 100%;
    height: 100%;
}

.product2{
    background-image: url("../../public/img/new_product2.png");
    width: 100%;
    height: 100%;
}

.product3{
    background-image: url("../../public/img/new_product3.png");
    width: 100%;
    height: 100%;
}

.txtS2{
    width: 100%;
    height: 18%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.prixS2{
    width: 100%;
    text-align: center;
}

