.section4{
    // border: 1px solid black;
    width: 100%;
    height: 1465px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerSection4{
    // border: 1px solid  blue;
    width: 75%;
    height: 81%;
    display: flex;
    flex-direction: column;
}

.txtSection4{
    // border: 1px solid red;
    width: 100%;
    height: 17%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}
.containerImgS4{
    width: 100%;
    height: 72%;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.row1S4{
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 50%;
    gap: 22px;
}

.divWatch{
    height: 100%;
    width: 33.33%;
    cursor: pointer;
    position: relative;
}
.heart{
    position: absolute;
    top: 15px;
    right: 13px;
    opacity: 0%;
    display: none;
}
.divWatch:hover .heart{
    display: block;
    opacity: 60%;
}
.containerTxtWatch{
    width: 100%;
    height: 24%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 7px;
}

.imgSection4{
    width: 100%;
    height: 76%;
    border-bottom: 3px solid #f61f1f;
    position: relative;
}

.cadreRouge{
    background-color: #f61f1f;
    width: 100%;
    height: 17%;
    display: flex;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    display: none;
}

.imgSection4:hover .cadreRouge{
    display: block;
}
.txtCadreRouge{
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: white;
}
.pCadre{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row2S4{
    display: flex;
    width: 100%;
    height: 50%;
    gap: 22px;
}

.popular1{
    background-image: url("../../public/img/popular1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.popular2{
    background-image: url("../../public/img/popular2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.popular3{
    background-image: url("../../public/img/popular3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.popular4{
    background-image: url("../../public/img/popular4.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.popular5{
    background-image: url("../../public/img/popular5.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.popular6{
    background-image: url("../../public/img/popular6.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.containerBtnS4{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 11%;
}

.viewS4{
    border-radius: none;
    border: none;
    background-color: #f61f1f;
    width: 212px;
    height: 50px;
    cursor: pointer;
}
